form {
    text-align: center;
    height: 600px;
    width: 800px;
}

mat-form-field {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 40px;
}

mat-chip-list {
    margin-bottom: 15px;
}

img {
    border: 1px solid black;
}

.tag {
    margin: 25px;
    padding: 5px;
    background: lightgrey;
    border: 1px solid black;
    border-radius: 10px;
}

div {
    margin-bottom: 5px;
}

.col-12 {
    margin-left: 15px;
}