<div id="container">
    <mat-form-field>
        <mat-label>Select a line's option</mat-label>
        <mat-select 
            style="margin-bottom: -1em;" 
            [(ngModel)]="traceSelector"
            (focus)='changeShortcutAccess(false)'
            (focusout)='changeShortcutAccess(true)'
            (selectionChange)="toolbarService.unFocus($event); storage.set('shape_line_option_style', traceSelector)">
            <mat-option *ngFor="let line of traceOptions; let option = index" [value]="traceOptions[option]">
                {{line}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Select a line's junction type</mat-label>
        <mat-select 
            style="margin-bottom: -1em;" 
            [(ngModel)]="junctionSelector"
            (focus)='changeShortcutAccess(false)'
            (focusout)='changeShortcutAccess(true)' 
            (selectionChange)="toolbarService.unFocus($event); storage.set('shape_line_option_junction', junctionSelector)">
            <mat-option *ngFor="let junction of junctionsOptions; let option = index" [value]="junctionsOptions[option]">
                {{junction}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput name="thick" type="text" formControlName="thickness"
                maxlength="3"
                placeholder="Line's thickness" 
                onPaste="return false"
                (focus)='changeShortcutAccess(false)'
                (focusout)='changeShortcutAccess(true)' 
                (keypress)="this.keypressValidator.rangeValidator($event, form.get('thickness').value, 100)"
                (keyup)='storage.set("shape_line_option_thickness", (form.get("thickness").value?form.get("thickness").value:1))'>
            <mat-error *ngIf='form.get("thickness").hasError("required")'>
                Input cannot be empty
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="side" type="text" formControlName="diameter"
                placeholder="line's point diameter" 
                onPaste="return false"
                (focus)='changeShortcutAccess(false)'
                (focusout)='changeShortcutAccess(true)' 
                (keypress)="this.keypressValidator.rangeValidator($event, form.get('diameter').value, 100)"
                (keyup)='storage.set("shape_line_option_diameter", (form.get("diameter").value?form.get("diameter").value:1))'>
            <mat-error *ngIf='form.get("thickness").hasError("required")'>
                Input cannot be empty
            </mat-error>
        </mat-form-field>
    </form>
</div>