William Glazer <willcavanagh@hotmail.com>

Antoine Martin <antoine24888@hotmail.fr>

Mohamed Saddik <medsaddik84@gmail.com>

Thomas Houtart <thomas.houtart@polymtl.ca>
Thomas Houtart <thomas.houtart@hotmail.com>

Thomas Laferriere <thomas.laferriere@polymtl.ca>
Thomas Laferriere <t.laferriere@hotmail.ca>

Soufiane Houimdi <ahmed-soufiane.houimdi@polymtl.ca>
Soufiane Houimdi <ahmed.soufiane.houimdi@polymtl.ca>
Soufiane Houimdi <ahmed-soufiane.houimdi@polymt.ca>
Soufiane Houimdi <ahmed-soufiane.houimdi@polymtl.ca>

