input[type=number] {
  width: 45%;
  margin-left: 27%;
}

mat-slider {
  padding-top: 0;
}

.line {
    margin: 15px 0 15px 25px;
    width: 200px;
    border-bottom: 1px solid black;
}

.left {
  margin-left: 25px;
  text-align: left;
}