<div id="container">
    <mat-form-field>
        <mat-label>Select a rectangle's option</mat-label>
        <mat-select 
            style="margin-bottom: -1em;" 
            [(ngModel)]="traceSelector"
            (focus)='changeShortcutAccess(false)'
            (focusout)='changeShortcutAccess(true)' 
            (selectionChange)="toolbarService.unFocus($event); storage.set('shape_rectangle_option_trace', traceSelector)">
            <mat-option *ngFor="let contour of traceOptions; let option = index" [value]="traceOptions[option]">
                {{contour}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput name="thick" type="text" formControlName="thickness"
                maxlength="3"
                placeholder="Recangle's contour thickness"
                onPaste="return false"
                (focus)='changeShortcutAccess(false)'
                (focusout)='changeShortcutAccess(true)' 
                (keypress)="this.keypressValidator.rangeValidator($event, form.get('thickness').value, 100)"
                (keyup)='storage.set("shape_rectangle_option_contour", (form.get("thickness").value?form.get("thickness").value:1))'>
            <mat-error *ngIf='form.get("thickness").hasError("required")'>
                Input cannot be empty
            </mat-error>
        </mat-form-field>
    </form>
</div>
