#container {
    width: 50vw;
    height: 80vh;
    text-align: center;
}

p {
    text-align: left;
}

b {
    margin-right: 5px;
}

.arrow {
    margin-left: 10px
}

.page {
    width: 50vw;
    height: 60vh;
}

.addMargin {
    margin: 0 10vw;
}

.addMargin2 {
    margin-right: 20px;
}

.button {
    margin-top: 10px;
}